section
  .contact
    div
      .contact-wrapperTop
        .wrapper-text
          p.contact-titleSection Contact us
          h4.contact-title Have a project in mind?
          p.contact-text
            | The right move at the right time saves your investment. Live the
            | dream of expanding your business.

        img(src="../../assets/imgs/content/wave.svg", alt="Wave Image")

      .contact-wrapperBottom
        .corporation
          .corporation-name
            img(src="../../assets/imgs/content/home.svg", alt="Home Icon")
            p Corporation
          p.corporation-address 4517 Washington Ave. Manchester, Kentucky 39495
          p.corporation-number
            a(href="tel:(239) 555-0108") (239) 555-0108
          p.corporation-email
            a(href="mailto:contact@company.com") contact@company.com

        .wrapper-form
          include form.pug
